@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
html,body {
    margin: 0px;
    padding: 0px;
}
* {
    background-color: rgba(17, 1, 30, 1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Aldrich!important;
}
.content {
    display: flex;
    min-height: 100vh;
    
}
.content aside {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    padding: 40px;
}
.content aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content aside li a{
    text-decoration: none;
    background: inherit;
}
.content aside li,
.content main a,
.content main input[type='submit']{
    font-size: 1.2rem;
    transition: 200px;
    padding: 5px;
    margin: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}
.content aside li:hover,
.content main a:hover,
.content main input[type='submit']:hover{
    /* background-color: rgb(38, 38, 38);
    color: rgb(199, 199, 199); */
    transform: scale(1.1);
}
.content aside li:active,
.content main a:active,
.content main input[type='submit']:active{
    background-color: rgb(100, 100, 100);
    color: black;
}
.content main {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.content main a,
.content main input[type='submit'] {
    display: inline-block;
    text-decoration: none;
    width: max-content;
    min-height: 1.2rem;
    background-color: black;
    border: 1px solid white;
}
.content main table td {
    padding: 10px;
}
.content main table img {
    max-width: 50px;
    max-height: 50px;
}